body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background.jpg);
    background-size: cover;
}
select {
    font-size: 1em;
    border-radius: 0px;
}
button {
    font-size: 1.1em;
}
header {
    padding-top: 10px;
}
input {
    font-size: 1.1em;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
form {
    text-align: center;
}
select {
    height: 35px;
}
.mdl-navigation a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
}
.mdl-navigation a:hover {
    color:rgb(255,64,129);
}
.mdl-navigation li {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
    list-style-type: none;
}
.mdl-textfield {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.card-wide {
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: block !important;
    }
}
@media screen and (max-width: 750px) {
    .mdl-layout-title {
        display: none !important;
    }
    .mdl-layout__header-row {
        padding: 0 !important;
    }
    .mdl-card {
        width: 100% !important;
    }
}
