@charset "utf-8";

html, body {
    margin: 0 auto;
    font-size: 150%;
    background-image: url(../img/glu.jpg);
    background-size: cover;
    
}
header {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px; 
}
select {
    height: 35px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    outline: 0;
/*    border: none;*/
    border-color: #d0cdcd;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    letter-spacing: 0;
    text-align: center;
}
select:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 7px 1px -8px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
select option {
    height: 35px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    letter-spacing: 0;
    text-align: center;
}
@media only screen and (max-width: 512px) {
    .demo-card-wide.mdl-card {
        width: 100%;   
    }
}
.mdl-card {
    margin-left:auto;
    margin-right: auto;
    min-height: 200px;
}
.wpbutton {
    margin-left: 158px;
}
.extraMenu {
    height: 60px;
    width: 100%;
    background-color:#2196f3;
    color: #fff;
    line-height: 60px;
    text-align: left;
    font-size: 0.75em;
    position: fixed;
    z-index: 999;
}
.extraMenu span {
    padding-left:10px;
}
.mdl-button, mdl-js-button, mdl-button--raised {
    background-color:rgb(255,82,82);
    color:#ffffff;
    margin-top: 4px;
}
.select-wrap select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:none;
  padding: 0.5em 2em 0.5em 0.5em;
  background: transparent;
  position:relative;
  cursor:pointer;
}
.select-wrap {
  display:inline-block;
  position:relative;
  border-left:1px solid #cccccc; 
  border-right:1px solid #cccccc;
}
.select-wrap::after {
  display:block;
  width:0px;
  height:0px;
  content:"　";
  position:absolute;
  right:0.5em;
  top:50%;
  margin-top:-0.25em;
  border-top:0.5em solid #777777;
  border-left:0.5em solid transparent;
  border-right:0.5em solid transparent;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  pointer-events: none;
}
* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 512px) {
    .extraMenu span {
        font-size: 0.65em;
    }
    .extraMenu {
        line-height: 55px;
    }
    .mdl-data-table {
        width:100%;
    }
}
@media only screen and (max-width: 346px) {
    .extraMenu span {
        font-size: 0.55em;
    }
    .extraMenu {
        line-height: 50px;
    }
}
@media only screen and (max-width: 300px) {
    .extraMenu span {
        display: none;
    }   
}