body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}
h2 {
    margin-left: auto !important;
    margin-right: auto !important;
}
select {
    font-size: 1em;
    border-radius: 0px;
}
button {
    font-size: 1.1em;
    color: #ffffff;
}

.mdl-button {
    color: #ffffff;
}
.mdl-checkbox__label {
    float: left;
}
.mdl-checkbox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    color: #ffffff !important;
}
.centerWp {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}
header {
    margin-left: auto;
    margin-right: auto;
}
input {
    font-size: 1.1em;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
form {
    text-align: center;
}
select {
    height: 35px;
}
.mdl-navigation a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
}
.mdl-navigation a:hover {
    color:rgb(255,64,129);
}
.mdl-navigation li {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
    list-style-type: none;
}
.mdl-textfield {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.card-wide {
    margin-left: auto;
    margin-right: auto;
}
.card-wide h2 {
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: block !important;
    }
}
@media screen and (max-width: 650px) {
    .mdl-layout-title {
        display: none !important;
    }
    .mdl-layout__header-row {
        padding: 0 !important;
    }
    .mdl-card {
        width: 100% !important;
    }
}
@media screen and (max-width: 370px) {
    .mdl-navigation li {
        font-size: 1.2em !important;
    }
    .mdl-navigation a {
        font-size: 1.2em;
    }
    .card-wide h2 {
        font-size: 2.34747em;
    }
}
